#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*  */

.header-notes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-heading{
  margin: 0;
}

.button-icon{
  box-sizing: content-box;
  height: 23.5px;

  margin-left: 20px;
}

.button-icon:hover{
  background-color: #EFEFEF;
  border: #767676 solid 1.6px;
  border-radius: 1.2px;
}

.icon{
  width: 17px;

  margin: 0;
  padding: 0;
  padding-top: 3px;

  background-color: #EFEFEF;
}

.icon.close{
  width: 25px;
  position: absolute;
  right: -12.5px;
  top: -16px;
  background-color: white;
  cursor: pointer;
}

.block-notes{
  display: flex;
  max-width: 750px;

  justify-content: flex-start;
  flex-wrap: wrap;
}

.note-wrapper{
  width: 240px;
  height: 155px;
  margin-top: 20px;
  margin-right: 15px;
  box-sizing: border-box;

  border: 0.5px solid black;

  padding: 5px;

  position: relative;
}

.note-wrapper:nth-child(3n){
  margin-right: 0;
}

.note-text{
  height: 100%;
  margin: 0;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer-notes{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.footer-form-notes{
  display: flex;
}

.input-text{
  width: 200px;
}
